<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Logovanje</servlet-name>
        <servlet-class>servleti.Logovanje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registracija</servlet-name>
        <servlet-class>servleti.Registracija</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Repertoar</servlet-name>
        <servlet-class>servleti.Repertoar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaFilmova</servlet-name>
        <servlet-class>servleti.ListaFilmova</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrikazFilmaServlet</servlet-name>
        <servlet-class>servleti.PrikazFilmaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BioskopiServlet</servlet-name>
        <servlet-class>servleti.BioskopiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrikazBioskop</servlet-name>
        <servlet-class>servleti.PrikazBioskop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrikazSedista</servlet-name>
        <servlet-class>servleti.PrikazSedista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormaZaRezervaciju</servlet-name>
        <servlet-class>servleti.FormaZaRezervaciju</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rezervacija</servlet-name>
        <servlet-class>servleti.Rezervacija</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClanstvoServlet</servlet-name>
        <servlet-class>servleti.ClanstvoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UclaniSe</servlet-name>
        <servlet-class>servleti.UclaniSe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IzmeniProfilServlet</servlet-name>
        <servlet-class>servleti.IzmeniProfilServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OdjavaServlet</servlet-name>
        <servlet-class>servleti.OdjavaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministriranjeKorisnikaServlet</servlet-name>
        <servlet-class>servleti.AdministriranjeKorisnikaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IzmenaKorisnikaAdminServlet</servlet-name>
        <servlet-class>servleti.IzmenaKorisnikaAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PotvrdiIzmeneKorisnikaAdminServlet</servlet-name>
        <servlet-class>servleti.PotvrdiIzmeneKorisnikaAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObrisiKorisnikaAdminServlet</servlet-name>
        <servlet-class>servleti.ObrisiKorisnikaAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DodajBioskopAdminServlet</servlet-name>
        <servlet-class>servleti.DodajBioskopAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IzmeniBioskopAdminServlet</servlet-name>
        <servlet-class>servleti.IzmeniBioskopAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministriranjeBioskopaServlet</servlet-name>
        <servlet-class>servleti.AdministriranjeBioskopaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PotvrdiIzmeneBioskopServlet</servlet-name>
        <servlet-class>servleti.PotvrdiIzmeneBioskopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObrisiBioskopAdminServlet</servlet-name>
        <servlet-class>servleti.ObrisiBioskopAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministriranjeProjekcijaAdmin</servlet-name>
        <servlet-class>servleti.AdministriranjeProjekcijaAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IzmenaTerminaAdminServlet</servlet-name>
        <servlet-class>servleti.IzmenaTerminaAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PotvrdiIzmeneProjekcije</servlet-name>
        <servlet-class>servleti.PotvrdiIzmeneProjekcije</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AktivneRezervacijeMenadzerServlet</servlet-name>
        <servlet-class>servleti.AktivneRezervacijeMenadzerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrikazClanovaKlubovaMenadzerServlet</servlet-name>
        <servlet-class>servleti.PrikazClanovaKlubovaMenadzerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DodajProjekcijuAdminServlet</servlet-name>
        <servlet-class>servleti.DodajProjekcijuAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObrisiTerminAdminServlet</servlet-name>
        <servlet-class>servleti.ObrisiTerminAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logovanje</servlet-name>
        <url-pattern>/Logovanje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registracija</servlet-name>
        <url-pattern>/Registracija</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Repertoar</servlet-name>
        <url-pattern>/Repertoar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaFilmova</servlet-name>
        <url-pattern>/ListaFilmova</url-pattern>
    </servlet-mapping>
    <!--  <servlet-mapping>
        <servlet-name>Film</servlet-name>
        <url-pattern>/Film</url-pattern>
    </servlet-mapping> -->
    <servlet-mapping>
        <servlet-name>PrikazFilmaServlet</servlet-name>
        <url-pattern>/PrikazFilmaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BioskopiServlet</servlet-name>
        <url-pattern>/BioskopiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrikazBioskop</servlet-name>
        <url-pattern>/PrikazBioskop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrikazSedista</servlet-name>
        <url-pattern>/PrikazSedista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormaZaRezervaciju</servlet-name>
        <url-pattern>/FormaZaRezervaciju</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rezervacija</servlet-name>
        <url-pattern>/Rezervacija</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClanstvoServlet</servlet-name>
        <url-pattern>/ClanstvoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UclaniSe</servlet-name>
        <url-pattern>/UclaniSe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IzmeniProfilServlet</servlet-name>
        <url-pattern>/IzmeniProfilServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OdjavaServlet</servlet-name>
        <url-pattern>/OdjavaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministriranjeKorisnikaServlet</servlet-name>
        <url-pattern>/AdministriranjeKorisnikaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IzmenaKorisnikaAdminServlet</servlet-name>
        <url-pattern>/IzmenaKorisnikaAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PotvrdiIzmeneKorisnikaAdminServlet</servlet-name>
        <url-pattern>/PotvrdiIzmeneKorisnikaAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObrisiKorisnikaAdminServlet</servlet-name>
        <url-pattern>/ObrisiKorisnikaAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DodajBioskopAdminServlet</servlet-name>
        <url-pattern>/DodajBioskopAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IzmeniBioskopAdminServlet</servlet-name>
        <url-pattern>/IzmeniBioskopAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministriranjeBioskopaServlet</servlet-name>
        <url-pattern>/AdministriranjeBioskopaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PotvrdiIzmeneBioskopServlet</servlet-name>
        <url-pattern>/PotvrdiIzmeneBioskopServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObrisiBioskopAdminServlet</servlet-name>
        <url-pattern>/ObrisiBioskopAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministriranjeProjekcijaAdmin</servlet-name>
        <url-pattern>/AdministriranjeProjekcijaAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IzmenaTerminaAdminServlet</servlet-name>
        <url-pattern>/IzmenaTerminaAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PotvrdiIzmeneProjekcije</servlet-name>
        <url-pattern>/PotvrdiIzmeneProjekcije</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AktivneRezervacijeMenadzerServlet</servlet-name>
        <url-pattern>/AktivneRezervacijeMenadzerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrikazClanovaKlubovaMenadzerServlet</servlet-name>
        <url-pattern>/PrikazClanovaKlubovaMenadzerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DodajProjekcijuAdminServlet</servlet-name>
        <url-pattern>/DodajProjekcijuAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObrisiTerminAdminServlet</servlet-name>
        <url-pattern>/ObrisiTerminAdminServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
